<!DOCTYPE html>
<html lang="en">

  <%- include('partials/_header') %>

<body>

  <!-- Navigation -->
  <%- include('partials/_navigation') %>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/about-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p> Hi! I'm Fatima.</p>
        <p>Clean Blog project this is my internship project at summer 2021.</p>
        <p>I'm interested in Back-End Development and currently learning NodeJS and Express.</p>
       
      </div>
    </div>
  </div>

  <hr>

  <%- include('partials/_footer') %>  

</body>

</html>